APP_NAME=Auth
APP_URL=http://localhost

# Default database is SQLite3 (MySQL, PostgreSQL and MariaDB) also supported
DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_USERNAME=root
# DB_PASSWORD=root
DB_DATABASE=database.sqlite
# DB_CHARSET=utf8mb4

# SMTP=gmail
# PORT=578
# NAME=example
# USERNAME=example@mail.com
# SECRET=***nujatbtabtsh5wb

